<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>

<head>
<meta http-equiv="content-type" content="text/html; charset=iso-8859-1"/>
<meta name="description" content="description"/>
<meta name="keywords" content="keywords"/>
<meta name="author" content="author"/>
<link rel="stylesheet" type="text/css" href="default.css" media="screen"/>
<title>Shades of Gray</title>
</head>

<!-- default margin = default layout -->
<body style="margin: 0 12%;">

<div class="container">

	<div class="header">
		<a href="index.html"><span>Shades of Gray</span></a>
	</div>

	<div class="stripes"><span></span></div>

	<div class="nav">
		<a href="index.html">Default layout</a>
		<a href="index2.html">Wide layout</a>
		<a href="index3.html">Thin layout</a>
		<a href="index.html">consequat</a>
		<a href="index.html">sem justo</a>
		<div class="clearer"><span></span></div>
	</div>

	<div class="stripes"><span></span></div>

	<div class="main">

		<div class="left">

			<div class="content">

				<h1>Porttitor posuere</h1>
				<div class="descr">Jun 13, 2006 by Vulputate</div>

				<p>In hac habitasse platea dictumst. Duis porttitor. Sed vulputate elementum nisl. Vivamus et mi at arcu mattis iaculis. <a href="index.html">Nunc eget pretium</a> diam. Pellentesque dictum faucibus leo. Vestibulum ac ante. Sed in est.</p>

				<blockquote><p>Sed sodales nisl sit amet augue. Donec ultrices, augue ullamcorper posuere laoreet, turpis massa tristique justo, sed egestas metus magna sed purus.</p></blockquote>

				<p>Fusce porta pede nec eros. Maecenas ipsum sem, interdum non, aliquam vitae, interdum nec, metus. Maecenas ornare lobortis risus. Etiam placerat varius mauris. Maecenas viverra. Sed feugiat. Donec mattis <a href="index.html">quam aliquam</a> risus. Proin quis massa semper felis euismod ultricies.</p>

				<h1>Adipiscing</h1>
				<div class="descr">Jun 11, 2006 by Laoreet</div>

				<p>Venenatis ac ante fusce accumsan enim et arcu. Duis sagittis libero at lacus. Suspendisse lacinia nulla eget urna.</p>

				<ul>
					<li>Tristique</li>
					<li>Aenean</li>
					<li>Pretium</li>
				</ul>

				<p>In hac habitasse platea dictumst. Duis porttitor. Sed vulputate elementum nisl. Vivamus et mi at arcu mattis iaculis. Fusce eleifend, dui ut posuere auctor, justo elit posuere sapien, at blandit enim quam fringilla mi.</p>

				<h1>Interdum</h1>
				<div class="descr">May 24, 2006 by Lectus</div>

				<p>Praesent nisi sem, bibendum in, ultrices sit amet, euismod sit amet, dui. Fusce nibh. Curabitur pellentesque, lectus at <a href="index.html">volutpat interdum</a>. Pellentesque a nibh quis nunc volutpat aliquam</p>

				<code>margin-bottom: 12px;
font-size: 1.1em;
background: url(img/quote.gif);
padding-left: 28px;
color: #555;</code>

				<p>Eget feugiat est leo tempor quam. Ut quis neque convallis magna consequat molestie.</p>

			</div>

		</div>

		<div class="right">

			<div class="subnav">

				<h1>Auctor</h1>
				<p>In hac habitasse platea dictumst. Duis auctor. Sed vulputate elementum nisl. Vivamus et mi at arcu mattis iaculis. Fusce eleifend, dui ut posuere auctor, justo elit posuere sapien.</p>

				<h1>Duis Elit</h1>
				<ul>
					<li><a href="index.html">consequat molestie</a></li>
					<li><a href="index.html">sem justo</a></li>
					<li><a href="index.html">semper</a></li>
					<li><a href="index.html">magna sed purus</a></li>
				</ul>

				<h1>Sapien</h1>
				<ul>
					<li><a href="index.html">sociis natoque</a></li>
					<li><a href="index.html">magna sed purus</a></li>
					<li><a href="index.html">tincidunt</a></li>
				</ul>

				<h1>Blandit Enim</h1>
				<ul>
					<li><a href="index.html">consequat molestie</a></li>
					<li><a href="index.html">sem justo</a></li>
					<li><a href="index.html">semper</a></li>
					<li><a href="index.html">magna sed purus</a></li>
				</ul>

				<h1>Fringilla</h1>
				<ul>
					<li><a href="index.html">sociis natoque</a></li>
					<li><a href="index.html">magna sed purus</a></li>
					<li><a href="index.html">tincidunt</a></li>
				</ul>

			</div>

		</div>

		<div class="clearer"><span></span></div>

	</div>

	<div class="footer">

			<div class="col3">

				<h2>Tincidunt</h2>
				<ul>
					<li><a href="index.html">consequat molestie</a></li>
					<li><a href="index.html">sem justo</a></li>
					<li><a href="index.html">semper</a></li>
					<li><a href="index.html">magna sed purus</a></li>
					<li><a href="index.html">tincidunt</a></li>
				</ul>

			</div>

			<div class="col3center">
				<h2>Sed purus</h2>
				<ul>
					<li><a href="index.html">consequat molestie</a></li>
					<li><a href="index.html">sem justo</a></li>
					<li><a href="index.html">semper</a></li>
					<li><a href="index.html">magna sed purus</a></li>
					<li><a href="index.html">tincidunt</a></li>
				</ul>
			</div>

			<div class="col3">
				<h2>Praesent</h2>
				<ul>
					<li><a href="index.html">consequat molestie</a></li>
					<li><a href="index.html">sem justo</a></li>
					<li><a href="index.html">semper</a></li>
					<li><a href="index.html">magna sed purus</a></li>
					<li><a href="index.html">tincidunt</a></li>
				</ul>
			</div>

			<div class="bottom">

				<span class="left">&copy; 2006 <a href="index.html">Website.com</a>. Valid <a href="http://jigsaw.w3.org/css-validator/check/referer">CSS</a> &amp; <a href="http://validator.w3.org/check?uri=referer">XHTML</a>.</span>
				<span class="right">Template design by <a href="http://templates.arcsin.se">Arcsin</a></span>

				<div class="clearer"><span></span></div>

			</div>

	</div>

</div>

</body>

</html>

<body>

<section class='container'>
	<hgroup>
		<h1>Welcome to your own personal hell</h1>
	</hgroup>


	<div class="row">
		<section class='col-xs-12 col-sm-6 col-md-6'>
			<section>
				<h2>How to use this example application</h2>
				<p>For instructions on how to use this application with OpenShift, start by reading the <a href="http://docs.okd.io/latest/dev_guide/templates.html#using-the-quickstart-templates">Developer Guide</a>.</p>

				<h2>Deploying code changes</h2>
				<p>
					The source code for this application is available to be forked from the <a href="https://www.github.com/sclorg/nodejs-ex">OpenShift GitHub repository</a>.
					You can configure a webhook in your repository to make OpenShift automatically start a build whenever you push your code:
				</p>

				<ol>
					<li>From the Web Console homepage, navigate to your project</li>
					<li>Click on Browse &gt; Builds</li>
					<li>Click the link with your BuildConfig name</li>
					<li>Click the Configuration tab</li>
					<li>Click the "Copy to clipboard" icon to the right of the "GitHub webhook URL" field</li>
					<li>Navigate to your repository on GitHub and click on repository settings &gt; webhooks &gt; Add webhook</li>
					<li>Paste your webhook URL provided by OpenShift in the "Payload URL" field</li>
					<li>Change the "Content type" to 'application/json'</li>
					<li>Leave the defaults for the remaining fields &mdash; that's it!</li>
				</ol>
				<p>After you save your webhook, if you refresh your settings page you can see the status of the ping that Github sent to OpenShift to verify it can reach the server.</p>
				<p>Note: adding a webhook requires your OpenShift server to be reachable from GitHub.</p>

				<h3>Working in your local Git repository</h3>
				<p>If you forked the application from the OpenShift GitHub example, you'll need to manually clone the repository to your local system. Copy the application's source code Git URL and then run:</p>

				<pre>$ git clone &lt;git_url&gt; &lt;directory_to_create&gt;

# Within your project directory
# Commit your changes and push to OpenShift

$ git commit -a -m 'Some commit message'
$ git push</pre>

				<p>After pushing changes, you'll need to manually trigger a build if you did not setup a webhook as described above.</p>

			</section>

		</section>
		<section class="col-xs-12 col-sm-6 col-md-6">

			<h2>Managing your application</h2>

			<p>Documentation on how to manage your application from the Web Console or Command Line is available at the <a href="http://docs.okd.io/latest/dev_guide/overview.html">Developer Guide</a>.</p>

			<h3>Web Console</h3>
			<p>You can use the Web Console to view the state of your application components and launch new builds.</p>

			<h3>Command Line</h3>
			<p>With the <a href="http://docs.okd.io/latest/cli_reference/overview.html">OpenShift command line interface</a> (CLI), you can create applications and manage projects from a terminal.</p>

			<h2>Development Resources</h2>
			<ul>
				<li><a href="http://docs.okd.io/latest/welcome/index.html">OpenShift Documentation</a></li>
				<li><a href="https://github.com/openshift/origin">Openshift Origin GitHub</a></li>
				<li><a href="https://github.com/openshift/source-to-image">Source To Image GitHub</a></li>
				<li><a href="http://docs.okd.io/latest/using_images/s2i_images/nodejs.html">Getting Started with Node.js on OpenShift</a></li>
				<li><a href="http://stackoverflow.com/questions/tagged/openshift">Stack Overflow questions for OpenShift</a></li>
				<li><a href="http://git-scm.com/documentation">Git documentation</a></li>
			</ul>

			<h2>Request information</h2>
			<p>Page view count:
				<% if (pageCountMessage) { %>
				<span class="code" id="count-value"><%=pageCountMessage%></span>
			</p>
			<div class="code"><h3>DB Connection Info:</h3>
				<table style='margin-left: 20px'>
					<tr><td>Type:</td><td><%= dbInfo.type %></td></tr>
					<tr><td>URL:</td><td><%= dbInfo.url %></td></tr>
				</table>
			</div>
			<% } else { %>
			<span class="code" id="count-value">No database configured</span>
			</p>
			<%} %>
		</section>
	</div>

	<footer>
		<div class="logo"><a href="https://www.openshift.com/"></a></div>
	</footer>
</section>
</body>